<!DOCTYPE html>
<header>
  <nav class="navbar navbar-custom fixed-top navbar-expand-lg navbar-light shadow-lg p-3 mb-5 bg-white rounded">
    <a class="navbar-brand" id="buns-link" href="/">Buns on Broadway</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" id="home" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <div id="cart-background">
      <i class="fa fa-shopping-cart"></i>
      <span id="shopping">Shopping Cart</span>
      <img id="shopping-cart" src="https://svgsilh.com/svg/304843.svg">
      <a href="Cart1.aspx" class="icon-shopping-cart" style="font-size: 25px">
      <asp:Label ID="lblCartCount" runat="server" CssClass="badge badge-warning"  ForeColor="White"/><span class="qtyVal">0</span></a>
    </div>
  </nav>
</header>
