<div class="restaurant-header">
  <h1>Welcome to Buns on Broadway!</h1>
    <p>We pride ourselves in serving up greasy spoon style hangover breakfast food for hungry people on a budget!</p>
</div>

<div class="order-container">
  <h1>Order Summary</h1>
  <div class="order-items">
  </div>

  <div class="order-total">
    <p>Order Total: $<span id="order-total">0</span>.00</p>
  </div>
  <div class="checkout-div">
    <button class="hide-cart">Hide Cart</button>
    <div>
      <button class="empty-cart">Empty Cart</button>
      <form action="/checkout" method="POST">
        <button type="submit" class="checkout">Checkout</button>
      </form>
    </div>
  </div>

  <div>
    <form class="enter-phone-number-form" action="/order-placed" method="POST">
      <label>Enter your number</label>
      <input class="enter-phone-input" type="number" name="phoneNumber" placeholder="+1 Your Phonenumber">
      <button id= "placeOrderBtn" type="submit" value="Place Order">Place Order</button>
    </form>
  </div>

</div>

<div class="menu-container"></div>
