<div class="restaurant-header">
  <div class="header-box">
    <h1>Welcome to Buns on Broadway!</h1>
    <p>Serving up greasy spoon style hangover breakfast food for hungry people on a budget since 2019!</p>
  </div>
</div>

<div class="order-container">
  <h1 id="order-summary">Order Summary</h1>
  <div class="order-items">
  </div>

  <div class="order-total">
    <p>Order Total: $<span id="order-total">0</span>.00</p>
  </div>
  <div class="checkout-div">
    <button class="hide-cart" id="hide-cart">Hide Cart</button>
    <div>
      <button class="empty-cart" id="empty-cart">Empty Cart</button>
      <form action="/checkout" method="POST">
        <button type="submit" id="submit" class="checkout">Checkout</button>
      </form>
    </div>
  </div>

</div>

<h3 id="our-menu">Our Menu</h3>

<div class="body-container">
  <div class="menu-container">
  </div>
  <div class="restaurant-info-container">
  </div>
</div>

