.checkout-message {
  margin: 10px;
  text-align: left;
  background: rgba(255, 255, 255, 0.7);
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  padding: 35px;
}

.order-placed-text {
  margin-left: auto;
  margin-right: auto;
}

.order-summary-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.order-summary {
  padding: 10px;
  border: 2px dashed black;
}

#order-placed-header {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
